* {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.jumbotron {
  background-color: bisque;
}
.header {
  font-style: italic;
  text-emphasis: bold;
  font-size: large;
}
.sidebar {
  width: 30%;
  float: right;
}
.my-class {
  border-bottom: 5px;
}
/* img {
  float: right;
} */
