* {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.jumbotron {
  background-color: bisque;
}
.header {
  font-style: italic;
  text-emphasis: bold;
  font-size: large;
}
.sidebar {
  width: 40%;
  float: right;
}
.my-class {
  border-bottom: 5px;
  padding: 20px;
}
hr {
  color: black;
  width: auto;
  height: 25px;
  margin-right: auto;
  margin-left: 0;
}
.about-me {
  width: auto;
  border-width: 1px;
  box-sizing: border-box;
}
.repo-link {
  padding: 10px;
  position: relative;
  top: 50px;
}
.emph {
  font-weight: bolder;
}
.sidebar-2 {
  width: 40%;
  float: right;
}

/* img {
  float: right;
} */
